H1 {
    border: blue solid;
}

H2 {
    border: blue solid;
}

.border{
    border: blue solid;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: blue solid;
}


.container2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: blue solid;
}

.flexItem{
    padding: 20px;
    margin: 20px;
}
.navbar{
    border: blue solid;
}

.profilePicture{
    padding: 20px;
    margin: 20px;
    border: blue solid;
}

@media (max-width: 576px) {
    body {
        background-color: rgb(129, 200, 221);
    }

    H2 {
        border: blue solid;
        align-self: start;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: blue solid;
    }
    .container2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: blue solid;
    }
}